# ─────────────────────────────────────────────
#  WhatsApp MCP Backend — Environment Variables
# ─────────────────────────────────────────────

# Server
PORT=3000
NODE_ENV=production

# MongoDB — get from MongoDB Atlas
MONGODB_URI=mongodb+srv://<USER_NAME>_db_user:<PASSWORD>@cluster0.fsyircm.mongodb.net/?appName=Cluster0  //paste your url
# Security — generate a strong random string
API_KEY=09fmxb1k48ryeci75azv2pjhwgduotn3        //create your own api

# WhatsApp session name (used as MongoDB collection prefix)
WA_SESSION_NAME=whatsapp-mcp-session

# Rate limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
